.generator__form-textInputs {
    margin: auto;
    margin-top: 40px;
    max-width: 1000px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}